$header_middle_colors: orange;
$header_hover_colors: #F48B88;
$span_colors: #0B5ED5;
$middle_colors:#294968;
$background_colors: #CFF1FE;
$item_background_colors: #FBDFF3;
$h1_colors: #162232;
$content_colors:#AF77C8;
$footer_colors: white;
$mobile_colors: #061728;
$link_hover_colors:#FEF6DA;
