// font information for header (desktop)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;
$header_large_font-size: 26px;
$header_line-height: 2rem;
$header_font-style: normal;

// font information for header (tablet)
$header-middle_font-size: 20px;

// font information for header (mobile)
$header-small_font-size: 24px;

// font information for content (desktop)
$title_large_font-weight: 600;
$title_large_font-size: 64px;
$title_large_line-height: 3rem;

// font information for content (tablet)
$title_middle_font-weight: 500;
$title_middle_font-size: 50px;

// font information for content (mobile)
$title_small_font-size: 40px;
$title_small_line-height: 2.5rem;

// general font information
$general_font-size: 32px;