// font information for header (desktop)

$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header_large_font-size: 26px;  
$header_line-height: 2rem;
$header_font-style: normal;

// font information for header (tablet)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header-middle_font-size: 20px;  
$header_line-height: 2rem;
$header_font-style: normal;
$header_middle_colors: orange;
 
// font information for header (mobile)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header-small_font-size: 24px;  
$header_line-height: 2rem;
$header_font-style: normal;



// font information for content (desktop)
    // $header_font-family: 'Encode Sans Semi Expanded', sans-serif;
    // $content_font-weight: 500;  
    // $content_font-size: 90px;  
    // // $header_line-height: 36px;
    // $header_font-style: normal;



