// font information for header (desktop)

$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header_large_font-size: 26px;  
$header_line-height: 2rem;
$header_font-style: normal;

// font information for header (tablet)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header-middle_font-size: 20px;  
$header_line-height: 2rem;
$header_font-style: normal;
$header_middle_colors: orange;
 
// font information for header (mobile)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$header-small_font-size: 24px;  
$header_line-height: 2rem;
$header_font-style: normal;

// font information for content (desktop)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$title_large_font-weight: 600;  
$title_large_font-size: 64px; 
$title_large_line-height: 3rem; 
$title_large_color: #294968; 

// font information for content (tablet)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$title_middle_font-weight: 500;  
$title_middle_font-size: 50px; 
$title_large_line-height: 3rem; 
$title_large_color: #294968; 

// font information for content (mobile)
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$title_small_font-size: 40px; 
$title_small_line-height: 2.5rem; 

// general font information 
$header_font-family: 'Encode Sans Semi Expanded', sans-serif;
$header_font-weight: 400;  
$general_font-size: 32px;
$title_large_line-height: 3rem; 