footer {
    height: 8vh;  
    width: 40%;  
    position: fixed;
    bottom: 0;
    left: 30%;
    padding: 30px;
    color: white;
    .copyright {
      text-align: center;
    }
    a {
        text-decoration: none;
    }
}